*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ulclass{
    display: flex;
    gap:30px;
    margin-left: 160px;
}

.img{
    display: flex;
    gap:20px;
}
.img_icon3{
    margin-left:80px;
}
